.footer {
    padding: 1rem;
    background-color: var(--dark-red);
    color: var(--off-white);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.navMenu li {
    padding: 1rem 0;
}

.navMenu a {
    color: var(--off-white);
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
}

.navMenu a:hover {
    background-color: var(--light-red);
}