/* lifted from Scott O’Hara's "Inclusively Hidden" */
.screenReaderOnly {
    clip: rect(1px 1px 1px 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: -100vw;
    white-space: nowrap;
    width: 1px;
}