:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-charcoal: rgb(28, 28, 28);
  --medium-gray: rgb(156, 156, 156);
  --dark-gray: rgb(100, 100, 100);
  --light-gray: rgb(196, 196, 196);
  --off-white: rgb(231, 231, 231);
  --beige: rgb(218, 190, 170);
  --dark-red: rgb(163, 42, 55);
  --brown: rgb(161, 108, 44);
  --yellow: rgb(224, 197, 58);
  --light-red: rgb(196, 98, 113);

  --card-border : 2px solid var(--yellow);
  --card-border-radius: 10px;
  --card-box-shadow: 4px 2px 20px;

  --page-background: linear-gradient(to left, var(--light-red), var(--dark-red));
}

body {
  min-height: 100vh;
}
